.findbycycle-page-app {
  position: fixed; /* 페이지 전체를 덮기 위해 fixed 설정 */
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  /* z-index: 9999; 다른 요소 위로 올라오도록 높은 z-index 설정 */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 스크롤 방지 */
}
