* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body 스타일 */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.login-page-id {
  border: 1px sold #a9a9a9;
  min-width: 240px;
  border-radius: 8px;
  padding: 12px 20px;
}
.login-page-pw {
  border: 1px sold #a9a9a9;
  min-width: 240px;
  border-radius: 8px;
  padding: 12px 20px;
}

.btn-login {
  background: #749f83;
  text-align: center;
  padding: 10px 24px;
}

/* MainPage 전체 컨테이너 */
.main-page-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
