* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.join-page-app {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
}

.join-page-header {
  margin: 5%;
  padding-top: 5px;
  padding-bottom: 10px; 
}

.header-img {
  max-width: 75%;
}

/* Form 전체 왼쪽 정렬 및 내부 요소 간격 조정 */
.join-page-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; /* 중앙 정렬 */
  width: 100%;
}

.join-page-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  align-items: center;
}

/* 각 입력 항목을 가로로 정렬 */
.join-page-idpw {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.join-page-info{
  display: flex;
  flex-direction: column;
  gap:15px;
  width: 100%;
}

.join-page-id,
.join-page-pw,
.join-page-pwcheck,
.join-page-name,
.join-page-phone,
.join-page-success,
.join-page-email {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-left: 10px;
  justify-content: flex-start;
}

.join-page-id label {
  width: 55px;
}

.join-page-pw label {
  width: 70px;
}
.join-page-pwcheck label {
  width: 70px;
}
.join-page-name label {
  width: 70px;
}
.join-page-phone label {
  width: 60px;
}
.join-page-success label {
  width: 60px;
}
.join-page-email label {
  width: 60px;
}

.join-page-id input,
.join-page-phone input,
.join-page-success input,
.join-page-email input,
.join-page-phone select,
.join-page-email select {
  height: 40px;
  flex: 1;
}

input::placeholder {
  font-size: 12px;
}

.btn-primary {
  color: #ffffff;
  background-color: #688460;
  font-family: 'Jua', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover,
.btn-id-check:hover,
.btn-phone-check:hover,
.btn-success-check:hover {
  background-color: #749f83 !important;
  color: #efefef;
  outline: none;
}

/* 버튼 크기 고정 및 위치 조정 */
.btn-id-check,
.btn-phone-check,
.btn-success-check {
  margin-left: 5px;
  width: 65px;
  padding: 6px 12px;
  background-color: #688460;
  color: #efefef; 
  border-radius: 10px; 
  font-size: 12px;
  height: 40px;
}

.btn-id-check:active,
.btn-id-check:focus,
.btn-phone-check:active,
.btn-phone-check:focus,
.btn-phone-check:disabled,
.btn-success-check:active,
.btn-success-check:focus,
.btn-success-check:disabled,
.btn-primary:active,
.btn-primary:focus {
  background-color: #688460 !important;
  outline: none !important;
  box-shadow: none;
}

.btn-join {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}

.btn-join Button {
  background-color: #688460; 
  color: #efefef;
  border-radius: 30px; 
  padding: 10px 20px; 
  font-size: 16px;
  width: 25vh;
  cursor: pointer;
}

.term-label {
  display: flex;
  align-items: center; 
  border: 1px solid #ccc; 
  border-radius: 10px;
  padding: 10px;
  background-color: #fcfafa;
  width: 100%;
}

.term-label input[type='checkbox'] {
  margin-right: 10px; 
  align-items: center;
}

.term-label span {
  flex: 1; 
  display: flex;
  align-items: center; 
}

/* 경고 메시지 스타일 */
.alert-message {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8d7da; /* 경고 배경색 */
  color: #721c24; /* 텍스트 색상 */
  border: 1px solid #f5c6cb;
  border-radius: 8px;
  padding: 10px;
  width: 80%; /* 적절한 너비 설정 */
  margin: 10px auto; /* 중앙 정렬 */
  font-size: 14px;
  text-align: center; /* 텍스트 중앙 정렬 */
}

.join-page-main .form-control,
select {
  margin-bottom: 0 !important;
  border-radius: 10px !important;
  border: 1px solid #ccc !important;
  height: 40px !important;
}

label {
  margin-top: 9px !important;
}

/* 확인 버튼 */
.my-custom-swal-button {
  background-color: #688460;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}
.my-custom-swal {
  border-radius: 20px;
  padding: 20px;
  height: 69%;
}

.text-error {
  color: #cb140d;
  font-weight: bold;
  padding-left: 24%;
  text-align: left;
  font-size: 10px;
  min-height: 20px; /* 오류 메시지 공간 확보 */
  display: flex;
  align-items: center;
}

.text-error.visible {
  visibility: visible; /* 메시지가 필요할 때만 보이도록 설정 */
}

.join-page-pwcheck label {
  width: 70px;
  white-space: wrap;
  padding: 0 !important;
  margin: 0 !important;
  display: inline-block;
}

#phone2.form-control {
  width: 10px;
}